@font-face {
    font-family: "Good Times";
    src: url("fonts/good\ times\ rg.otf") format("opentype");
}

*:focus {
    outline: none;
}

* {
    box-sizing: border-box;
    color:turquoise;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

#color-picker::-webkit-color-swatch {
    border-radius: 50%;
    box-shadow: 0 0 8px 0 rgba(15, 100, 255, 0.3), 0 0 20px 0 rgba(15, 100, 255, 0.29);
}

body {
    font-family: "Good Times", 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: linear-gradient(0deg, black, #000e23);
    display:flex;
    align-items: stretch;
    justify-content: center;
    padding: 50px 200px;
}

h1 {
    margin: 0;
    margin-bottom: 1em;
    padding:0;
    text-align: center;
    text-shadow: 2px 2px 1px white;
}

.container,
.panel-container,
.pad-container,
.pad-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
}

.pad-wrapper {
    flex:1; 
    align-items: stretch;
}

.container {
    gap: 40px;
    flex-direction: column;
    align-items: stretch;
    flex: 1;    
}

.pad-container {
    max-width: 800px;
    border: 0.03px solid #40e0d0;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0px 0px 10px #00cbff;
    border-radius: 1em;
    flex: 1 1 0;
    margin: 0px 20px;
}

.panel-container {
    gap: 20px;
    justify-content: space-evenly;
    text-shadow: 1px 1px 1px #ffffff8c;
    font-size: 1em;
}

.row {
    display:flex;
    flex: 1;
}

.grid-box {
    border: 1px solid #ffffff33;
    flex: 1 1 auto;
}

.color {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 200px;
}

input#color-picker {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 50px;
    height: 50px;
}

#color-picker:hover {
    cursor: pointer; 
}

label[for="background-color"] {
    font-weight: 600;
}

.panel-wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

label[for="grid-size"] span {
    font-size: 0.75em;
}

label[for="grid-size"] {
    text-align: center;
}

#grid-size {
    text-align: center;
    background-color: transparent;
    border: 2px solid turquoise;
    border-radius: 5px;
    font-size: 1em;
    color: turquoise;
    appearance: none;
}

.btn {
    font-family: "Good Times", 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    background: none;
    border: 2px solid turquoise;
    border-radius: 5px;
    text-shadow: 1px 1px 1px #ffffff8c;
    box-shadow: 1px 1px 1px #ffffff8c;
    transition: all .2s linear;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.btn:active {
    transition: scale 0.2s;
    transform: scale(1.2) translateY(2px);
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
